@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./utils";

.btn {
    background-color: $secondarycolor;
    border: $primarycolor;
    color: $tertiarycolor;
    &:hover{
        background-color: $primarycolor;
    }
}
